.banner{
    background-image: url('D:/kalpesh/ANGULAR/project/src/assets/retrosupply-kZvmEpyfiJs-unsplash (1).jpg');
}

.wrapper{
    width:100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}





.overlay{
    
    position: absolute;
    top:0;
    left: 0;
    width: 73%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.close{
    position: relative;
    /* right: -144px; */
   
    /* align-items: end; */
    display: flex;
    left: 129%;
    bottom: -57px;
    cursor: pointer;
}