<div class="container">
    
    <div class="row">

        <div class="col-lg-4">

        </div>

        <div class="col-lg-8">
             <!-- <p style="text-size-adjust: 10px;">I'm {{item.firstname}} and Im above yearsand<br>
            you can send your emails to <br>
            . I live in the state of<br>.My hobbies are .<br>
               And please send a newsletters. Please<br> reach out to me on my phone number  </p>  . -->
        
          
           <button style="background-color: green; color: white;">I Agree</button>
        </div>

    </div>
</div>
